<h1> Get a payment calculation </h1>



<form action="/payment/results">

<label for="apr">APR</label>
<input id="apr" type="text" name="users_apr" placeholder="E.g. 5.42">

<label for="remaining_years">Enter the number of years remaining </label>
<input id="remaining_years" type="text" name="users_years" placeholder="How many years to repay?">

<label for="present_value">principal</label>
<input id="present_value" type="text" name="users_pv" placeholder="How much principal?">

<button>Calculate monthly payment</button>

</form>
