<h1> Get a random number </h1>

<form action="/random/results">

<label for="number_random_min"> Minimum </label>
<input id="number_random_min" type="text" name="lower_bound" placeholder="E.g. 1.5">

<label for="number_random_max"> Maximum </label>
<input id="number_random_max" type="text" name="upper_bound" placeholder="E.g. 4.5">

<button> Pick random number </button>

</form>


